<h1><%= @cocktail.name %></h1>

<% @cocktail.doses.each do |dose| %>
  <ul>
    <li><%= dose.description %> of <%= dose.ingredient.name %></p>
      <%= link_to cocktail_dose_path(@cocktail.id, dose.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    </li>
  </ul>
<% end %>

  <ul class ="list-inline">
    <li>
      <%= link_to 'Delete', cocktail_path(@cocktail),
        method: :delete,
        data: { confirm: "Are you sure?" }  %>
    </li>
    <li>
      <%= link_to 'Edit', edit_cocktail_path(@cocktail) %>
    </li>
  </ul>
